@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles for the animated star background */
.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1744px 122px #FFF , 134px 1321px #FFF , 92px 859px #FFF /* Add more star positions */;
  animation: animateStars 50s linear infinite;
}

.stars2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1744px 122px #FFF , 134px 1321px #FFF , 92px 859px #FFF /* Add more star positions */;
  animation: animateStars 100s linear infinite;
}

.stars3 {
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1744px 122px #FFF , 134px 1321px #FFF , 92px 859px #FFF /* Add more star positions */;
  animation: animateStars 150s linear infinite;
}

@keyframes animateStars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}